/*-----------------------------------------------------------------------------------*/
/* COMMON SETTINGS */
body, html {
  padding: 0;
  margin: 0;
  height: 100%;
}

table, td, th, div {
  border: 0;
  padding: 0;
  margin: 0;
}

img {
    border: 0;
}

/*-----------------------------------------------------------------------------------*/
/* FONTS */

body, table, td, th, div, input, h1, h2, h3, h4, h5, h6 {
    font-family : Calibri, Tahoma, Verdana, Arial, Helvetica, Sans-Serif;
    color: #000000;
}

body, table, td, th, div, input {
    font-size : 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-size : 18px;
    text-decoration: none;
}

div#page_footer {
    font-size: 11px;
    width: 100%;
    text-align: left;
}

/*-----------------------------------------------------------------------------------*/
/* Body */

body{
    background-color: #C6D9F1;

    /*non-msie: page_alignment */
    text-align: center;}

/*-----------------------------------------------------------------------------------*/
/* Noscript */

div#noscript_warning_red
{
    padding-top: 30px;
    font-size: 16px;
    color: red;
    text-align: center;

    /*non-msie center page_alignment */
        margin-left: auto;
    margin-right: auto;
    }

div#noscript_warning_newsession
{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

        margin-left: auto;
    margin-right: auto;
    }

/*-----------------------------------------------------------------------------------*/
/* Header of [aux] window */
body.aux_window{
    text-align: left;
}

div#page_header_aux_window
{
    width: 100%; /* cause it's window */
    height: 50px;

    background-color: #8EB4E3;
    background-repeat: repeat-x;
    background-position: center center;
    background-image: url(/public/images/my/header-transient.png);
}

div#page_header_aux_window img#logo
{
    margin: 10px;
    vertical-align: middle;
}

div#page_header_aux_window span
{
    vertical-align: -1px;
    color: white;
    font-weight: bold;
    font-size :  18px;
}

div#help_page_main{
    margin: 10px;
    text-align: left;
}

/*-----------------------------------------------------------------------------------*/
/* Header */

table#page_header
{
    width: 100%;
    height: 80px;

    background-color: #8EB4E3;
    background-repeat: repeat-x;
    background-image: url(/public/images/my/header-transient.png);

    /* border-collapse: collapse */

    /*non-msie: page_alignment */
    clear: both;
        margin-left: auto;
    margin-right: auto;
    }

table#page_header td#maxTimeoutTd
{
    color: white;
    text-align: right;
    font-size: 12px;
    right: 30px;
    position: relative;
    bottom: 15px;
}

table#page_header td#header_leftcell img
{
    display: block;
}

table#page_header td#header_rightcell
{
    width: 99%;
}

table#page_header td#header_rightcell span#webtop_header_message
{
    float: right;
    position: relative;
    top: 6px;
    left: -30px;
    text-align: right;
    color: white;
}

table#page_header td#header_rightcell span#webtop_header_message img#fw_header_icon
{
    height: 24px;
    margin-right: 10px;
    margin-top: -2px;
    vertical-align: -7px;
    width: 24px;
}

table#page_header td#header_rightcell button
{
    float: right;

    margin-right: 15px;

    opacity: 0.9;
    filter: alpha(opacity=90);

    background-color: #8995a3; /* todo: customize */
    color: #FFFFFF;  /* todo: customize */
    border: 1px solid white;  /* todo: customize */

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;

    cursor:pointer;

        padding: 4px;
    zoom: 1;
    }

table#page_header td#header_rightcell button#disconnect:hover
{
    color: black; /* todo: customize */
    /* background-color: white; */ /* todo: customize */
        background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DDDDDD));
    background: -moz-linear-gradient(top, #FFFFFF,  #DDDDDD);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD');
    }

table#page_header td#header_rightcell button#disconnect span
{
        padding: 0px;
    display: inline;
}

table#page_header td#header_rightcell button#disconnect img
{
        float: left;
    
    margin-right: 4px;

    width: 16px;
    height: 16px;
    display: inline;
}
/* ----------------------------------------------------------------------------------- */
/* Footer */

div#page_footer
{
    width: 100%;
    border-top: 1px solid #738495;
    empty-cells: show;
    display: block;

        margin-left: auto;
    margin-right: auto;
    }

div#page_footer div
{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;

    font-size: 11px;
}

/*-----------------------------------------------------------------------------------*/
/* Main Table */

table#main_table
{
    width: 100%;
    height: 78%;
    border-collapse: collapse;
    background-color: #C6D9F1;

        margin-left: auto;
    margin-right: auto;
    }

/* -------------------------------------------------------------------------------- */
/* Main Table Image cell */

table#main_table td#main_table_image_cell
{
    vertical-align: top;
    width: 50%;
    /* side image align */
    text-align: center;
}

/* Main Table Image cell: image */

table#main_table td#main_table_image_cell img
{
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}

/* -------------------------------------------------------------------------------- */
/* Main Table Info Cell */

table#main_table td#main_table_info_cell
{
    width: 50%;
    vertical-align: top;

    /* form_alignment msie */
    
    /* border: 1px solid blue; */
}

/* ----------------------------------------------------------------------------------- */
/* Form */

/* form height msie */
table#main_table form
{
    height: 100%;
    width: 270px;

    /* form_alignment non-msie */
        float: left;
    clear: both;
    
    /* debug */
    /* border: 1px solid red; */
}

table#main_table table#credentials_table
{
    width: 270px;

    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;

    border-collapse: collapse;
    empty-cells: show;
    background-color: #C6D9F1;

    height: 100%;
}

table#main_table table#credentials_table td#credentials_table_header
{
    height: 46px;
    font-size: 18px;
    color: #303030;
    /* background-color: #8EB4E3; */
    text-align: left;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 16px;
    padding-bottom: 11px;
}

table#main_table table#credentials_table td#credentials_table_postheader
{
    height: 10px;
    color: red;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 3px;
    padding-top: 1px;
}

table#main_table table#credentials_table td.credentials_table_label_cell
{
    width: 33%;
    text-align: left;
    padding-left: 15px;
    padding-right: 2px;
    padding-bottom: 4px;
    height: 30px;
}

table#main_table table#credentials_table td.credentials_table_field_cell
{
    width: 67%;
    text-align: left;
    padding-right: 15px;
    padding-left: 2px;
    padding-bottom: 4px;
    height: 30px;
}

table#main_table table#credentials_table td.credentials_table_unified_cell
{
    width: 67%;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    height: 30px;
}

table#main_table table#credentials_table td.credentials_table_field_checkbox_fix
{
    padding-top: 2px;
}

table#main_table table#credentials_table td#credentials_table_footer
{
    padding-top: 13px;
}

table#main_table table#credentials_table input.credentials_input_password, input.credentials_input_password_disabled, input.credentials_input_text, input.credentials_input_text_disabled
{
    height: 21px;
    width: 85%;
    font-size: 13px;
    border: 1px solid #808080;
}

table#main_table table#credentials_table select.credentials_input_select, select.credentials_input_select_disabled
{
    height: 21px;
    max-width: 85%;
/*    width: 85%; */
    font-size: 13px;
    border: 1px solid #808080;
}

table#main_table input.credentials_input_password, input.credentials_input_password_disabled
{
    font-family: sans-serif;
}

table#main_table table#credentials_table input.credentials_input_submit, input.credentials_input_submit_disabled
{
    margin-top: 7px;
}

table#main_table table#credentials_table input.credentials_input_checkbox, input.credentials_input_checkbox_disabled
{

}

table#main_table table#credentials_table input.credentials_input_password_disabled,input.credentials_input_text_disabled
{
    background-image: url("/public/images/my/header-transient.png");
    background-position: center -60px;
    border: 1px solid #909090;
}

table#main_table table#credentials_table label
{
    padding: 0;
    margin: 0;
    display: block;
}

/* ----------------------------------------------------------------------------------- */
/* Intraction */


table#main_table table#interaction_table
{
    width: 270px;

    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;

    border-collapse: collapse;
    empty-cells: show;
    background-color: #C6D9F1;

    /* form height msie */
    height: 100%;

    /* form_alignment non-msie */
        float: left;
    clear: both;
    }

table#main_table table#interaction_table td#interaction_table_header
{
    height: 46px;
    font-size: 18px;
    color: #303030;
    text-align: left;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 17px;
    padding-bottom: 13px;
}

table#main_table table#interaction_table td.interaction_table_text_cell
{
    padding-right: 15px;
    padding-left: 15px;
    text-align: left;
    height: 35px;
}

table#main_table table#interaction_table td.interaction_table_option_cell
{
    padding-right: 15px;
    padding-left: 15px;
    text-align: left;
    height: 35px;
}

table#main_table table#interaction_table td.interaction_table_option_cell img
{
    vertical-align: middle;
    padding-right: 10px;
}

table#main_table table#interaction_table td.interaction_table_footer
{
    padding-top: 15px;
}

/*-----------------------------------------------------------------------------------*/
/* progress bar comparitbility */

div#ProgressBarDIV table
{
    border-collapse: collapse;
    border: 0;
}

div#ProgressBarDIV table#progress_bar_table
{
    text-align: center;
    empty-cells: show;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
}

div#ProgressBarDIV table#progress_bar_table td
{
    width: 21px;
    height: 21px;
    background-color: #C6D9F1;
}

div#ProgressBarDIV table#progress_bar_table td.highlight
{
    width: 21px;
    height: 21px;
    background-color: #738495;
}

/* inspection host compartibility */

div.inspectionHostDIVSmall
{
    visibility: visible;
    border: 0;
    height: 1px;
    width: 1px;
}

div.inspectionHostDIVBig
{
    border: 2px solid black;
    visibility: visible;
    position: absolute;

    top: 5%;
    left: 5%;
    width: 80%;
    height: 73%;

    padding: 5%;
    padding-top: 4%;

    width: expression( "90%" );
    height: expression( "90%" );

    background: #ffffff;
    opacity: 0.9;
    filter: alpha(opacity=95);
    text-align: center;
    z-index: 5;
    height: 100%;
}

div.inspectionHostBgLock
{
    border:0;
    margin:0;
    padding: 0;
    opacity: 0.1;
    filter: alpha(opacity=10);
    visibility: visible;
    position: absolute;
    top: 60px;
    left: 0px;
    width: 100%;
    height: 94%
}
/* Error message styling */

table#IHoptions td
{
    height: 35px;
    padding-left: 12px;
}

table#IHoptions a.option
{
    margin-right: 10px;
}

table#IHoptions a.option img
{
    border: 0px;
    clear: right;
    vertical-align: middle;
}

/* CacheCleaneTable */

table#CacheCleanTable
{
    width: 100%;
    height: 100%;

}

table#CacheCleanTable td#main
{
    text-align: center;
}

table#CacheCleanTable td#message
{
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

table.webtopTable
{
        /*non-msie: page_alignment */
    margin-left: auto;
    margin-right: auto;
    
    width: 100%;
    border-collapse: collapse;
}

table.webtopTable td
{
    width: 100%;
}

/* ----------------------------------------------------------------------------------- */
/* WEBTOP */
/* Footer */
body.webtop{
    background: #C6D9F1 url(/public/images/full_wt/body-background.png) repeat-x center 72px;
}

body.webtop_nohead{
    background: #C6D9F1 url(/public/images/full_wt/body-background.png) repeat-x center 0px;
}

div#webtop_wrapper{
    min-height: 90%;
    height: auto !important;
    height: 90%;
    margin: 0 auto -20px;
    padding-bottom: 20px;
}

div#webtop_toolbar{
    width: 100%;
    height: 33px;
    background: url(/public/images/full_wt/toolbar-background.png) repeat;
    color: white;
    clear: both;
    /*non-msie: page_alignment */
        margin-left: auto;
    margin-right: auto;
    }

div#webtop_toolbar .right{
    float: right;
}

div#webtop_toolbar .left{
    float: left;
}

div#webtop_toolbar div.container{
    color: white;
    display: inline-block;
    padding-right: 5px;
    margin-right: 2px;
    margin-left: 8px;
    margin-top: 3px;
    border: 1px solid transparent;
}

div#webtop_toolbar div:first-child{
     margin-left: 11px;
}

div#webtop_toolbar div.last_child{
     margin-right: 16px;
}

div#webtop_toolbar .border_hover:hover{
    color: black;
    border: 1px solid gray;

    /* background-color: #E0E0E0; */
        background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DDDDDD));
    background: -moz-linear-gradient(top, #FFFFFF,  #DDDDDD);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD');
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    cursor:pointer;
}

div#webtop_toolbar div.container img{
    vertical-align: -7px;
    margin-right: 2px;
}

div#webtop_toolbar div.container img.go{
    border: 1px solid transparent;
    margin-right: 2px;
    padding-bottom: 1px;
    padding-left: 3px;
    vertical-align: -7px;
    margin-top: 1px;
}

div#webtop_toolbar div.container img.go:hover{
    background: center #FFFFFF repeat url(/public/images/my/header-transient-small.png);
    border: 1px solid gray;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    cursor:pointer;
}

div#webtop_toolbar input#waurl{
    float: left;
    border: 1px solid #737b88;
    margin-top: 1px;
    margin-right: 4px;
    width: 214px;
    font-style: normal;
}

div#webtop_toolbar input#waurl.blur{
    color: #676767;
    font-style: italic;
}

/*   */
div#webtop_favorites_outer_container{
    width: 100%;
    padding-top: 5px;
    text-align: left;
    /*non-msie: page_alignment */
    clear: both;
        margin-left: auto;
    margin-right: auto;
    }

div#noticebox{
   position: absolute;
   top: 0;
   /* left: 50%; */
   display: none;
   width: 100%;
   background-color: rgb(247, 242, 219);
   padding: 10px 20px 10px 20px;
   text-align: center;
   opacity: 0.8;
   filter: alpha(opacity=80);
}

div#searchbox{
    padding: 5px;
    position: absolute;
    top: 115px;
    left: 100%;
    margin-left: -278px;
    width: 180px;
    background-color: #9ea9b6;
    display: none;
}

div#searchbox input#searchinp{
    width: 98%;
}

div#webtop_favorites_outer_container div#searchbox{
    padding: 5px;
    position: absolute;
    top: 115px;
    left: 100%;
    margin-left: -278px;
    width: 180px;
    background-color: #9ea9b6;
    display: none;
}

#webtop_favorites_inner_container div.resourcetype{
    margin-left: 13px;
    margin-top: 8px;
    margin-bottom: 3px;
    display: block;
}

#webtop_favorites_inner_container div.resourcetype img.expand{
    display: table-cell;
    float: left;
    margin-top: -2px;
    margin-right: 4px;
    cursor: pointer;
}

#webtop_favorites_inner_container div.resourcetype div.title{
    display: table-cell;
    padding-right: 5px;
    color: #244265;
    white-space: nowrap;
}

#webtop_favorites_inner_container div.resourcetype div.aftertitle{
    display: table-cell;
    width: 100%;
    background: repeat-x url(/public/images/full_wt/aftertitle-background.png); /* todo: customizable */
    color: #244265;
}

#webtop_favorites_inner_container span.favorite{
    display: inline-block;
    /* exclude border */
    width: 284px;
        height: 47px;
    
    margin-left: 13px;
    margin-bottom: 2px;
    padding-right: 6px;

    border: 1px solid transparent;
    }

#webtop_favorites_inner_container span.favorite:hover{
     /* background: white; */
        background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DDDDDD));
    background: -moz-linear-gradient(top, #FFFFFF,  #DDDDDD);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD');
    

    -webkit-border-radius:6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid gray;
    cursor:pointer;
}

#webtop_favorites_inner_container span.favorite span.image{
        display: table-cell;
    vertical-align: middle;
    
    height: 48px;
    padding-left: 8px;
    padding-right: 8px;
    }

#webtop_favorites_inner_container span.favorite span.image img{
        width: 32px;
    height: 32px;
    }

#webtop_favorites_inner_container span.favorite span.caption{
        display: table-cell;
        vertical-align: middle;
    width: 240px;
    }

#webtop_favorites_inner_container span.favorite span.caption span{
    color: #999999;
    display:block;
    }

#webtop_favorites_inner_container span.favorite span.restart{
        display: table-cell;
    vertical-align: middle;
    
    width: 20px;
    }

#webtop_favorites_inner_container span.favorite span.restart img{
    
    width: 20px;
    height: 20px;

    }

/* */
#access_webtop_container{
    text-align: left;
}
#access_webtop_container div#status{
    margin-top: 15px;
    margin-left: 22px;
    height: 30px;
    font-weight: bold;
}
#access_webtop_container div#errormessage{
    width: 490px;
    margin-left: 41px;
    margin-top: 3px;
    margin-bottom: 12px;
}
#access_webtop_container div#status img{
    margin-top: 3px;
    padding-right: 2px;
    vertical-align: -4px;
    width: 16px;
    height: 16px;
}

#access_webtop_container div#status span{
    padding-left: 5px;
    vertical-align: middle;
}

#access_webtop_container div#data{
    margin-top: 3px;
    margin-left: 20px;
    border: 1px solid #999999;
    width: 512px;
    margin-bottom: 10px;
}
#access_webtop_container div#status input{
    float: right;
    }


#access_webtop_container table{
    border-collapse: collapse;
    width: 100%;
}
#access_webtop_container table th, div#access_webtop_container table td{
    height: 17px;
    padding: 5px;
    padding-top: 1px;
    padding-bottom: 2px;
    text-align: right;
    vertical-align: top;
}
#access_webtop_container table th.type, div#access_webtop_container table td.type{
    text-align: left;
    width: 160px;
}
#access_webtop_container table th.noboleft, div#access_webtop_container table td.noboleft{
    border-left: 0;
    width: 16%;
}
#access_webtop_container table th.noboright, div#access_webtop_container table td.noboright{
    border-right: 0;
    width: 16%;
}
#access_webtop_container table th{
    border: 1px solid #999999;
    border-top: 1px solid white;
    border-left: 1px solid white;
    background-color: #ceccc8;
    font-weight: normal;
    width: 45px;
}
#access_webtop_container table td{
    background-color: white;
    border-right: 1px solid #dddbd7;
}
#access_webtop_container table td.bold{
    font-weight: bold;
}
#access_webtop_container table .italic{
    font-style: italic;
}
#access_webtop_container table td.pad{
    padding-left: 15px;
}

#access_webtop_container table td span.apptstatus{
    padding-left: 5px;
}

#access_webtop_container table td div.apptstatus_hide{
    display: none;
}
#access_webtop_container table td div.apptstatus_show{
    display: block;
    font-style: italic;
    color: red;
    margin-left: 20px;
    margin-top: -1px;
    margin-bottom: -1px;
    padding-left: 5px;
}
#access_webtop_container table td img{
    margin-top: 2px;
    padding-right: 5px;
    vertical-align: -4px;
    width: 16px;
    height: 16px;
}
#access_webtop_container table tr.total td{
    background-color: #e7e7e7;
}
#access_webtop_container a#show_details_text{
    margin-left: 20px;
    text-decoration: none;
}
#access_webtop_container div#details_text{
    text-decoration: none;
    margin: 5px 27px 10px;
}
#access_webtop_container div#details_text a{
    display: block;
    width: 200px;
}

/*****************************************
*
*/

div.HostDivNaOnly{
    width: 100%;
    clear: both;
    /*non-msie: page_alignment */
        margin-left: auto;
    margin-right: auto;
    }

/*****************************************
Disable vertical srollbar
*/
html.noVerticalScrollbar {
    overflow: hidden;
}

/*****************************************
popup window style
*/

div.styledModalDialogueDIV{
    position: absolute;

    top: 300px;
    left: 300px;

    width: 430px;
    height: 252px;

    background-color: white;
    border: 1px solid #202020;
}

div.styledModalDialogueDIV input{
    float: none;
}

div.styledModalDialogueDIV div#SMDHeader{
    height: 55px;

    background-color: #8EB4E3;
    background-repeat: repeat-x;
    background-position: center center;
    background-image: url(/public/images/my/header-transient.png);
}

div.styledModalDialogueDIV div#SMDHeader div#SMDTitle{
    display: inline;
    float: left;
    margin-top: 19px;
    margin-left: 16px;
    color: white;
}

div.styledModalDialogueDIV div#SMDHeader div#SMDCross{
    display: inline;
    float: right;
    margin: 7px;
    color: white
}

div.styledModalDialogueDIV div#SMDMain{
    height: 116px;
    padding: 16px;
    color: black;
}

div.styledModalDialogueDIV div#SMDMain span{
    display: inline-block;
    text-align: left;
    width: 110px;
    margin-top: 10px;
}

div.styledModalDialogueDIV div#SMDButtons{
    height: 24px;
    padding: 12px 16px;
    background-color: #f0f0f0;
    border-top: 1px solid #dfdfdf;
    text-align: center;
}

div.styledModalDialogueDIV div#SMDButtons input{
        margin-left: 5px;
    margin-right: 5px;
}

div.browserCitrix{
    border: 1px solid black;
    background: #C6D9F1 url(/public/images/full_wt/body-background.png) repeat-x center 0px;
    position: absolute;
}

div.browserCitrix div.browserFavorite{
}

div.browserCitrix div.browserFavorite img{
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}

div.browserCitrix div.browserFavorite span{
    float: left;
    margin-top: 38px;
    margin-left: 15px;
}

div.browserCitrix input.closeButton{
    float: right;
    margin-top: 36px;
    margin-right: 18px;
}


div.browserCitrix div.browserAddressline{
    border-top: 1px solid #8fa0b4;
    border-bottom: 1px solid #8fa0b4;
    width: 98%;
    margin-right: 1%;
    margin-left: 1%;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 1px;
}

div.browserCitrix div.browserAddressline a{
    color: black;
    padding-left: 4px;
    padding-right: 4px;
}


div.browserCitrix div.browserContents{
    overflow-y: auto;
    -ms-overflow-y: auto;
        overflow: auto;
    }
 
